.btn-wrapper[data-v-106446d3]{margin-top:10px;text-align:right}.pallet-infos[data-v-106446d3]{border-top-left-radius:5px;border-top-right-radius:5px}.pallet-infos table[data-v-106446d3]{min-width:0!important}
